*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    /* max-width: 1320px; */
    margin: 50px;
    margin-left: 100px;
    text-align: center;
    flex-wrap: wrap;
}

header{
    display: flex;
    justify-content: space-between;
    height: 70px;
    text-align: center;
    align-items: center;
    background-color: brown;
    font-size: 30px;
}

header a{
    color: white;
    text-decoration: none;
}

.logo{
    margin-left: 50px;
}
.nav{
    margin-right: 50px;
}
.nav a{
    margin-left: 30px;
}

/* PRODUCT */

.product-item{
    margin-right: 50px;
    padding: 20px 15px;
    background-color: rgb(221, 224, 227);
    border-radius: 10px;
    margin-bottom: 50px;
}

.product-item:hover{
    background-color:rgb(192, 182, 182);
    transition: 0.5s;
}

img{
    border-radius: 5%;
}

.name{
    margin-top: 10px;
}
.price h3{
    padding: 10px 0px;
}
.btn button{
    margin: 20px;
    padding: 10px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
button:hover{
    background-color: antiquewhite;
}

.catrDisplay img{
    width: 100px;
}
